.card {
  border-radius: 8px;
  border: 1px solid rgb(197, 197, 197);
  padding: 12px 22px;
  text-decoration: none;

  h2, p { color: black; }

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: all 0.3s ease;
  }
}
